<table>
  <tr>
    <td>
      <button (click)="selectButton('dashboard')" [class.selected]="selectedButton === 'dashboard'">Tableau de Bord</button>
    </td>
  </tr>
  <tr>
    <td>
    <button (click)="selectButton('reservations')" [class.selected]="selectedButton === 'reservations'">Réservations</button>
      <div class="dropdown" *ngIf="selectedButton === 'reservations'" [@fadeInOut]>
        <ul>
          <li (click)="navigate('demande')">Demandes</li>
          <li>En cours</li>
        </ul>
      </div>
    </td>
  </tr>
